
        <footer class="page-footer section section-class-name scrollspy" data-section-name="contacta">
            <div class="container">


              <div class="row">
                  <div class="col s3 red">
                      <h5 routerLink="/login">REGISTRARSE</h5>


                  </div>
                  <div class="col s3">
                      <h5>EMPRESA</h5>
                      <a>Nosotros</a><br>
                      <a>Soporte</a>

                  </div>
                  <div class="col s3">
                      <h5>RECURSOS</h5>
                      <a>Términos de empresa</a><br>
                      <a>Contacto</a><br>
                      <a>Ayuda</a>
                  </div>
                  <div class="col s3">
                      <h5>LEGAL</h5>
                      <a>Protección de datos</a><br>
                      <a>Normativa</a><br>
                      <a>Política de cookies</a>
                  </div>
              </div>
            </div>

            <div class="row center">
                <div class="col s3">
                    info@sobway.es
                </div>

                <div class="col s6">
                    <i class="fab fa-linkedin rs fa-2x"></i>
                    <i class="fab fa-facebook-square rs fa-2x"></i>
                    <i class="fab fa-twitter rs fa-2x"></i>
                    <i class="fab fa-youtube rs fa-2x"></i>
                </div>

                <div class="col s3">
                    © 2021 Copyright
                </div>

            </div>
          </footer>
