<section class="cuerpo section-class-name container" data-section-name="inicio">
    <div class="row">
        <div class="col-8 text">
            <h2>Descubre con <span class="red-text">Smart Building</span> el nuevo concepto de reservas</h2>
            <p>Explora todo lo que un edifico conectado puede hacer por ti. Descubre todo lo que ofrecen los edificios más novedosos y de última generación</p>
            <a class="waves-effect waves-light btn-large red" routerLink="/login">REGÍSTRATE AHORA
            </a>
        </div>
    </div>
</section>


