<section class="servicios section-class-name valign-wrapper section scrollspy" data-section-name="servicios">
    <img class="responsive-img fondo" src="./../../assets/img/edificio.jpg">

    <div class="row container-fluid center">
        <a class="col-lg-2 col-md-3 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="fas fa-shield-alt"></i>Seguridad</a>
        <a class="col-lg-2 col-md-3 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="far fa-check-circle"></i>Confort</a>
        <a class="col-lg-2 col-md-3 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="fas fa-cloud-upload-alt"></i>Conexión</a>
        <a class="col-lg-2 col-md-11 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="fas fa-network-wired"></i>Integración</a>
        <a class="col-lg-2 col-md-3 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="large material-icons">headset_mic</i>
          A. cliente</a>
        <a class="col-lg-2 col-md-3 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="fas fa-hand-holding-usd"></i>Ahorro</a>
        <a class="col-lg-2 col-md-3 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="fas fa-tasks"></i>Gestión</a>
        <a class="col-lg-2 col-md-11 col-sm-2 col-xs-2 waves-effect waves-light btn-large"><i class="large material-icons">build</i>S. técnico</a>
    </div>

</section>
