<section class="clientes section-class-name scrollspy" data-section-name="clientes">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-sm-5 right-align z-depth-3 empresa">
                <i class="medium material-icons" style="color:white">card_travel</i>
                <h4 class="red-text">Empresas y administradores</h4>
                <p class="white-text">Llevar la gestión fácil y cómoda de todo un edificio dándole lo mejor a tus clientes</p>
            </div>
            <div class="col-sm-5 offset-s1 left-align z-depth-3 propietario">
              <div style=" background-color: rgb(0, 0, 0); position:absolute; z-index:-1; opacity:0.2;"></div>
              <i class="medium material-icons" style="color:white">people_outline</i>
              <h4 class="red-text">Propietarios e inquilinos</h4>
                <p class="white-text">Una solución especialmente diseñada para edificios residenciales</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 right-align property z-depth-3">
              <i class="medium material-icons" style="color:white">vpn_key</i>
                <h4 class="red-text">Property management</h4>
                <p class="white-text">Las soluciones permiten gestionar de modo integral los apartamentos y alquiler</p>
            </div>
            <div class="col-sm-5 offset-s1 left-align promotores z-depth-3">
              <i class="medium material-icons" style="color:white">business</i>
                <h4 class="red-text">Promotores inmobiliarios</h4>
                <p class="white-text">Incrementa la calidad de la promoción incluyendo la solución SmartBuilding</p>
            </div>
        </div>
    </div>
</section>
