.nosotros{
    height: 100vh;
    background-color: rgb(48, 45, 45);

    .text{
        background-color: rgb(94, 86, 86);
        color: white;
        height: 20rem;
        font-size: large;

    }

    img{
      width: 18rem;
      height: 20rem;
    }


    .container{
      padding: 2rem;
    }
}
