<section class="nosotros section-class-name valign-wrapper section scrollspy" data-section-name="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 img">
                <img class="z-depth-3" src="../../../assets/img/equipo-gestión-proyectos.jpg">
            </div>
            <div class="col-sm-7 text z-depth-3">
                <h3 class= "red-text">Equipo consultor</h3>
                <p>Somos un grupo de profesionales del sector de la tecnología de comunicaciones y automatización con amplia experiencia en <strong>Real Estate y Property Managment</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7 text z-depth-3">
                <h3 class= "red-text">Soluciones a  medida</h3>
                <p>Realizamos un diagnóstico de las posibilidades de rentabilización que posee el edificio, y aportamos la solución a medida y personalizada que convertirá su residencial en <strong>SmartBuilding</strong> y en un ahorro para sus vecinos</p>
            </div>

            <div class="col-sm-5 s img">
                <img src="../../../assets/img/soluciones.jpg" class="right z-depth-3">
            </div>
        </div>
    </div>

</section>
