.container{

   margin-top: 2rem
}

amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}


.container-fluid{
  height: 100vh;
  weight: 100vw;
}

.button{
  background-color: red !important;
}

